body {
    font-family: "Lato", sans-serif;
    /* background-image:url("sky.jpg") ; */
    background-color: antiquewhite;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 6px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

@media (max-width: 650px) {
    #mySidebar {width: 0;}
    #main {margin-left: 0;}
    .sidebar a {font-size: 10px;}
    .openbtn{font-size: 12px;}
  }
  
#compose-container{
    background: rgba(239,225,237,0.9);
    position:initial;
}

label{
    margin: 10px;
}

#recipient-input,
#subject-input,
#message-input {
    width:99%;
    margin-bottom: 10px;
    height: 44px;
    background: none;
    position: relative;
    border-style: none;
}

#send-button {
    background-color: #0074d9;
    margin-top: 20px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover{
    box-shadow: gray 1px 1px 3px;
}